@model Core.DataAccess.tbl_LK_MarketProduct

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product Data</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Product Name 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            Unit Of Measure 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_LK_MarketUnitOfMeaure.UnitOfMeasureName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
