@{
    ViewBag.Title = "Index";
}

<h2>Setup Page</h2>
 

<br />

<div class="row">
    <div class="col-md-6">
        <div class="list-group">
            <a href="#/SubComponent/Index" class="list-group-item active">
                Setup List
            </a>
            <a href="/SubComponent/Index" class="list-group-item ">
                Sub-Component Mnagement
            </a>
            <a href="/Settings/IndicatorListing" class="list-group-item">
                Manage Indicator
            </a>

            @*<a href="~/Views/SubComponent/Index.cshtml" class="list-group-item">
                Sub-Component Mnagement
            </a>*@

            <a href="/Settings/NewIndicatorRegister" class="list-group-item">
                Indicator Register
            </a>
            <a href="/IndicatorTarget/Index" class="list-group-item">
                Indicator Target
            </a>
            <a href="/Marketer/Index" class="list-group-item">
                Marketer
            </a>
            <a href="/MarketList/Index" class="list-group-item">
                Market List
            </a>
            <a href="/MarketProduct/Index" class="list-group-item">
                Products in Market
            </a>
            
            



        </div>
    </div>
    <div class="col-md-6">
        <div class="list-group">
            <a href="/FarmerCIG/Index" class="list-group-item">
                CIG / WUYEP
            </a>

            <a href="/MarketUnitOfMeaure/Index" class="list-group-item">
                Unit of Measure
            </a>

            <a href="/FarmActivity2/Index" class="list-group-item">
                Farm Activities
            </a>
            <a href="/Farmer/Index" class="list-group-item">
                Farmer
            </a>
            <a href="/FarmerProductionSeason1/Index" class="list-group-item">
                Production Seasons
            </a>
            <a href="/FarmProduct1/Index" class="list-group-item">
                Farm Products
            </a>
            <a href="/FarmValueChain2/Index" class="list-group-item">
                Value Chains
            </a>

            <a href="/UploadImages/Index" class="list-group-item">
                Pictures Upload
            </a>
        </div>
    </div>
  


</div>

