@model Core.DataAccess.tbl_LK_MarketUnitOfMeaure

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Unit Of Measure</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UnitOfMeasureName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitOfMeasureName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UnitOfMeasureID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
