@{
    ViewBag.Title = "Index";
}

<h2>Monitoring & Evaluation Home</h2>

<br />

<div class="row">
    <div class="col-md-6">
        <div class="list-group">
            <a href="/Baselines/Index" class="list-group-item active">
                Settings


            </a>
            <a href="/Baselines/AddNewBaseline" class="list-group-item">
                Add New CIG Base Line
            </a>
            <a href="/Baselines/BaselineList" class="list-group-item">
                Base line listing
            </a>
            <a href="/IndicatorTarget/AddTargetIndicator" class="list-group-item">
                Add Target (Indicator) For CIGs
            </a>
            <a href="/IndicatorTarget/Index" class="list-group-item">
                Target Management (Indicator) For CIGs
            </a>
            <a href="/Achievement/AddAchievement" class="list-group-item">
                Add Achievement
            </a>
            <a href="/Achievement/Index" class="list-group-item">
                Achievement Listing
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Baseline</a></li>
            <li><a href="#profile" data-toggle="tab">Target Indicator</a></li>
            <li><a href="#dropdown1" data-toggle="tab">Achievement</a></li>

        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="home">
                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </div>
            <div class="tab-pane fade" id="profile">
                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
            </div>
            <div class="tab-pane fade" id="dropdown1">
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
            </div>

        </div>
    </div>


</div>

