@model Core.DataAccess.tbl_LK_Lga

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LGA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
             Lga Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LgaName)
        </dd>

        <dt>
           State Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_LK_State.StateName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LgaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
