@model Core.DataAccess.tbl_LK_Group_type

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_LK_Group_type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupTypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GroupTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
