@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="col-lg-12"><h2>Commercial Agriculture Developement Project  </h2> </div>
    <div class="col-md-4 "><img src="~/Content/images/cap/ngr_logo.png" /></div>
    <div class="col-md-4 "><img src="~/Content/images/cap/cadp_logo.jpg" /></div>
    <div class="col-md-4 "><img src="~/Content/images/cap/worldBankLogo.PNG" /></div>
</div>

<div class="row">
    <div class="col-md-4">

        <p>
            Farmers Ware House
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        Market Information System
        <p><a class="btn btn-default" href="#http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        Monitoring and Evaluation

        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<ul class="nav nav-tabs" style="color:black">
    <li class="active"><a href="#home" data-toggle="tab">Cross River</a></li>
    <li><a href="#profile" data-toggle="tab">Kaduna</a></li>
    <li><a href="#profile2" data-toggle="tab">Enugu</a></li>
    <li><a href="#profile3" data-toggle="tab">Kano</a></li>
    <li><a href="#profile4" data-toggle="tab">Lagos</a></li>

</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="home">
        <hr />
        <div class="col-md-7">
            <div class="list-group">

                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Market Facilitation</h4>
                    <p class="list-group-item-text">
                        Five Oil Palm CIGs sold 5,000mt of cracked palm kernel worth N30 million in 2013 to River State Vegetable Oil Company (RIVOC), Port Harcourt.
                        Two other off-takers of their palm kernel oil (PKO), while cocoa CIGs have established reliable outlets for dry cocoa seeds.
                    </p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Additional source of finance to CRS</h4>
                    <p class="list-group-item-text">
                        The USADF has disbursed approximately N141 million of grant facility to some project beneficiaries in Cross River State for capacity building,
                        business development, financial systems improvement, establishment of value addition processing facilities for the Palm oil and other value chains.
                    </p>
                </a>
                <a href="#" class="list-group-item">
                    <hr />
                    <p class="list-group-item-text">
                        Leveraging on local financial institutions has also been achieved with 10 CIGs in Cocoa value chain accessing credit amounting to N25m for the implementation of their investment plans;  3 farmers have been linked to Bank of Industries for credit to implement investment plans; 286 farmers have been linked to sources of finance with one CIG accessing the sum of N31 million for Palm kernel oil (PKO) production from Unity Bank Plc Calabar;
                    </p>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <img src="~/Content/cap/001.png" />
        </div>
    </div>
    <div class="tab-pane fade" id="profile">
        <h2>Key project Achievements - Kaduna</h2>
        <div class="col-md-12">
            <hr />
            <blockquote>
                <p>
                    Following the outcome of the survey conducted by IITA on Aflatoxin contamination of food and feeds across the country in 2009 which found Kaduna State to fall within high risks of Aflatoxin infection with almost 25% of maize in the State been unsafe for human/livestock consumption, Kaduna CADP entered into collaboration with IITA for the demonstration and adoption of Aflasafe maize production. By 2013, a 90% reduction in maize Aflatoxin had been recorded in the State through the collaboration and for the farmers, that achievement meant a substantial improvement in quality and marketability of their maize output.
                </p>
            </blockquote>
            <blockquote>
                <p>
                    Aflasafe maize farmers were subsequently linked with up-takers (NALMACO, Ugo Farm, Dar-al-green, Grand Cereal Company & Springfield) for assured market access for Aflasafe maize, and
                    Between 2011 and 2014, about 52 maize CIGs were able to record sales of about 5,863 metric tonnes of maize from Giwa and Kubau maize belt alone. Through inter State linkage also, Aflasafe maize producers in Kaduna were able to gain access to markets in Enugu and Lagos States with sale of 90 tons of Aflasafe maize to Sunchi Integrated Farm Ltd, the new hatchery in Enugu at a premium price of N52,000/ton and 240 metric tonnes of maize sold to poultry farmers in Lagos and to Lagos State Agricultural Input Supply Agency from 2013-2014. Also, twenty six (26) CIGs comprising 436 aflasafe maize producers were linked to Stanbic IBTC Bank which provided them with credit facilities amounting to about N355,168,384.00 for Aflasafe Maize production
                </p>
            </blockquote>
        </div>


        <hr />
    </div>
    <div class="tab-pane fade" id="profile2">
        <div class="col-md-12">
            <h2> Enugu State</h2>
            <blockquote>

                2 Hatcheries with total Capacity of 250,000 doc/day
                Intervention of CADP led to establishment of first ever poultry hatchery in South East Zone of Nigeria located in Enugu (Sunchi Integrated Farms Ltd). Before now, poultry farmers in that Zone sourced their day old chicks from Lagos and Ibadan in the South West Zone. 500 farmers from around the South East Zone, Kano, Kaduna and Abuja have been linked to Sunchi Integrated Farms as off-takers of Day Old Chicks (DOCs). The company’s capacity has risen from a capacity of 5,072 day old chicks per week when it commenced operation to the current capacity of 55,000 day old chick per week. A second Hatchery has since joined the train in Enugu State also.

            </blockquote>
            <img src="~/Content/cap/002.png" />
        </div>
    </div>
    <div class="tab-pane fade" id="profile3">
        <h2>
            Kano
        </h2>
        <blockquote>
            A dairy farmer, Messrs Bunkure Farms, benefitted from demonstration and adoption of artificial insemination of 98 local heifers using semen from disease resistant and early maturing breed and within a year, 86 of the heifers were harvested. The harvested bulls were subsequently artificially inseminated to produce second generation 50% hybrid. This achievement has prompted the entrepreneur to go into construction of a 12-point industrial milking facility. The farm has also turned to demonstration centre for other farmers in Kano State wishing to grow their farm through the new artificial insemination technology.
        </blockquote>
        <blockquote>
            In order to facilitate sustainable market access for the project beneficiaries, thirty three (33) CIGs in Kano State have been linked to Abuja Security and Commodity Exchange on improved marketing system and warehousing financing. Another eleven (11) benefitting CIGs were linked to an off-taker, UMZA Rice Processing Company, to which they have already supplied a total of 240.89mt of rice paddy as contract out-growers
        </blockquote>
    </div>
    <div class="tab-pane fade" id="profile4">
        <h2>Lagos State</h2>
        <div class="col-md-7">
            <blockquote>
                Over 400 of Agribusiness owners have benefitted from the services offered by Market Information Kiosks Centres for increased sales the sales  of eggs (5000 trays of egg); 3090 kg of rice; 8081 kg of fresh fish, 2.8 mt of smoked fish; 1250 broilers among others since the MIKs were commissioned in 2013.
            </blockquote>
            <blockquote>
                A total of 4 CIGs have received certificate of registration to export branded smoked fish to the US market
            </blockquote>
            <blockquote>
                A Rice CIG was also able to export packaged local rice to United Kingdom and, USA;
            </blockquote>
            <blockquote>
                The Bank of Agriculture (BOA) is partnering with the Lagos State Ministry of Agriculture & Cooperatives to disburse about N500 million loans to CIGs for the development of the three value chains supported by CADP, with the Ministry providing 50% of the amount. The Bank of Industry disbursed a total of N12 million (in kind) to Poultry CIG in Ikorodu LGA through the efforts of the CADP in the State;
            </blockquote>
        </div>
        <div class="col-md-5">
            <img src="~/Content/cap/003.jpg" />
            <img src="~/Content/cap/004.jpg" />
        </div>
    </div>
</div>